* {
    font-family: 'Sora', sans-serif;
}

.main-header {
    background: url(../img/background.jpg) ;
    background-size: cover;
    min-height: 500px;
}

.background-overlay {
    background: rgba(71, 61, 139, .7);
}

.team, footer{
    background: rgba(71, 61, 139, 1);

}